@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}


#cm{
	width: 100%;
	width: 100%;
    white-space: pre;
    border: ridge;
    text-align: center;
}
table {
	width: 100%; 
	text-align: center;
	margin-top: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}
#tr1{
	border-bottom: 1px solid gray;
	
}

table, th{
	padding-top: 8px;
	padding-bottom: 10px;
	font-size: 1.2em;
	
}


table, td{
	padding-top: 7px;
	padding-bottom: 7px;
	
}

tr:nth-child(even){
	background-color: #f0f0f0;
}


#sel #viewSongList{
	margin-top: 20px;
	position: relative; 
	width: 200px; 
	height: 40px;
	min-height: 32px;
	line-height: 32px;
	padding: 0 10px;
	
}
#divPaging {
	text-align: center; 
	width:100%; 
	height: 30px; 
	margin-top: 10px; 
	margin-bottom: 35px;
}
#divPaging > div {float:left; width: 30px; margin:0 auto; margin-top: 30px;text-align:center;}
#divSearchOption{
	width: 100%;
	height: 100px;
	text-align: center;	
}

#divSearchOption form {
	height: 100%;
	width: 100%;
}

#divSearchOption form select {
	margin-top: 20px;
	position: relative; 
	width: 150px; 
	height: 35px;
	text-align: center;
	z-index:1;	
	font-size: 1.1em;
}
#divSearchOption #keyword{
	height: 30px;
	font-size: 20px;

}
#cbtn1{
 	 width: 80px;	 
 	 height:36px;
 	 font-size: 15px;
	background-blend-mode: color-burn;
    border-block-end-color: #11442d;
    color: white;
    font-weight: bold;
    background-color: #092317;
    border: outset;
    border-color: #023309;
	
}
#cbtn2{
	position: relative;
	top: 0px;
	right: -720px;
	width:100px;
	height:30px;
	font-size: 13px;
	background-blend-mode: color-burn;
    border-block-end-color: #11442d;
    color: white;
    font-weight: bold;
    background-color: #092317;
    border: outset;
    border-color: #023309;
}
#divSearchOption > div {
	float:left; 
	width:100%; 
	height:100px; 
	text-align:center;
	}
