@charset "UTF-8";



hr {
    margin-top: 25px;
    margin-bottom: 20px;
}
#nd{
    white-space: pre;
    text-align: center;
    -webkit-text-stroke-width: thin;
	
}

table, th, td {
	border-top-style: groove;
    font-style: oblique;
    border-color: burlywood;
}

table{
	margin-top: 30px;
	width: 800px;
	margin: auto;
	text-align: center;
	
}
th{
	font-size: 30px;
	width: 300px;
}
td{
	padding-top: 10px;
	text-align: left;
	font-size: x-large;
}
#nlist{
	text-align: right;
    -webkit-text-emphasis-style: open;
    text-align-last: justify;
    text-shadow: 0 0 5px #d7a603, 0 0 7px #035103
}
textarea{
	resize: none;
	width: 480px;
	font-size: large;
}