@charset "UTF-8";


#home{
	padding-left: -100px;
	
}

#nql{
	 white-space: pre;
    text-align: center;
    -webkit-text-stroke-width: thin;
}
table {
	width: 100%; 
	text-align: center;
	margin-top: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}
#tr1{
	border-bottom: 1px solid gray;
	
}

table, th{
	padding-top: 8px;
	padding-bottom: 10px;
	font-size: 1.2em;
	
}


table, td{
	padding-top: 7px;
	padding-bottom: 7px;
	
}

tr:nth-child(even){
	background-color: #f0f0f0;
}
#ff{
	width: 100%;
	heigth: 50px;
	text-align: center;
	display: inline-block;
}
#ff form{
	float: right;
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	background-color: #11442d;
}

#nbtn {
	width:100px;
	height:30px;
	font-size: 13px;
	background-blend-mode: color-burn;
    border-block-end-color: #11442d;
    color: white;
    font-weight: bold;
    background-color: #092317;
    border: outset;
    border-color: #023309;
}

}

#paging{
	margin-top: 20px;
	font-size: 1.2em;
}




