@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    padding-top: 80px;
    height: 100%;
    text-align: center;
   
}
#join{
	font-size: 25px;
	color: white;
	white-space: pre;
    text-align: center;
    -webkit-text-stroke-width: thin;
    margin-top: -60px;
    border-bottom: inset;
    background-color: #092317;
}
#jform {
	width: 800px;
	height: 100%;
    padding-top: 25px;
    margin-left: 600px;
  	
}

table{
	width: 800px;
    height: 700px;
    text-align: center;
}
th{
	text-align: right;
	padding-right: 25px;
	font-size: 25px;
	font-style: oblique;
}
td{
	text-align: left;
	
}

#name, #id, #pwd1, #pwd2, #phone, #email, #j6{
	font-size: 30px;
    width: 200px;
    height: 30px;
}

#addr{
	font-size: 30px;
    width: 300px;
    height: 30px;
}

#j1{
	font-size: 30px;
    width: 15px;
    height: 30px;
}

th #idcheck{
	padding-right: 120px;
}

#jbtn{
	    padding-right: 65px;
	    
}
#subBtn{
	width:100px;
	height:30px;
	font-size: 13px;
	background-blend-mode: color-burn;
    border-block-end-color: #11442d;
    color: white;
    font-weight: bold;
    background-color: #092317;
    border: outset;
    border-color: #023309;
}
#canBtn{
	width:100px;
	height:30px;
	font-size: 13px;
	background-blend-mode: color-burn;
    border-block-end-color: #11442d;
    color: white;
    font-weight: bold;
    background-color: #092317;
    border: outset;
    border-color: #023309;
}