@charset "UTF-8";

hr {
    margin-top: 25px;
    margin-bottom: 20px;
}
#nd{
    white-space: pre;
    text-align: center;
    -webkit-text-stroke-width: thin;
	
}

p{
	margin-bottom: 10px;
	
}
textarea{
	resize: none;
}
form{
	margin-top: 25px;
    width: 100%;
    height: 50px;
    text-align: center;
}
table, th, td {
	border-top-style: groove;
    border-color: #f0ffec;
}
table{
	margin-top: 30px;
	width: auto;
	height: auto;
	margin: auto;
	text-align: center;
	
}
th{
	font-size: 25px;
	width: 200px;
	font-style: oblique;
}

td{
	width: 200px;
	padding-top: 10px;
	text-align: left;
	font-size: x-large;
}

#fileBtn{
	width:100px;
	height:30px;
	font-size: 13px;
	background-blend-mode: color-burn;
    border-block-end-color: #11442d;
    color: white;
    font-weight: bold;
    background-color: #092317;
    border: outset;
    border-color: #023309;
}