@charset "UTF-8";

#myp{
	position: absolute;
	width: 100%;
    white-space: pre;
    border: ridge;
    text-align: center;
}
#all{
	padding-left: 80px;
	height: 1500px;
}
div #set{
	position: absolute;
	width: 500px;
	margin-top: 10px;
	text-align: center;
	border-style: outset;
}
#rep2{
	position: absolute;
    width: 500px;
    height: 700px;
    text-align: center;
    margin-top: 10px;
    margin-left: 900px;
    border: 1px solid lightgray;
    border: outset;
	
	
}
h2{
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgray;
	font-size: 30px;
}
#aa{
	margin-top: 20px;
	
	
}
table{
	width: 300px;
	margin:auto;
	margin-top: 30px;
	
}

th{
	float:right;
	font-size: 1.2em;
}
td{
	font-size: 1.2em;
}
#sav{
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
	float: none;
	padding-bottom: 20px;
	padding-top: 15px;
}