@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
	margin: auto;
}
#header{
	width:100%;
	height:120px;
	text-align: center;
	font-style: oblique;
    font-size: -webkit-xxx-large;
}

	
	
}
body{
	width: auto;
	height: auto;
	background-color: silver;
	font-size: 1.5em;
	position: relative;
}
#main{
	width:1000px;
	height:700px;
	background-color: white;
	padding-top: 100px;
}
#login{
	width:100%;
	height:50%;
	text-align: center;

}
#login #id{
	width:300px;
	height:50px;
	font-size: 20px;
	margin-top: 30px;
	
}
#login #pwd{
	width:300px;
	height:50px;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#menus{
	text-align: center;
	width:1000px;
	height:100px;
	position: absolute;
}
.menu{
	color: silver;
	text-decoration:none;
	font-style: oblique;
    font-size: x-large;
}
#loginbtn{
	width:300px;
	height:50px;
	font-size: 20px;
	background-blend-mode: color-burn;
    border-block-end-color: black;
    color: white;
    font-weight: bold;
    background-color: darkslategrey;
    border: outset;
    border-color: dimgrey;
    
}
