@charset "UTF-8";
#home{
	overflow: hidden;
}

#mwrap{
	width: 100%;
    height: 100%;
	display: inline-flex;
	border-top: ridge;
}

#bann{
	width: 100%;
	height: 300px;
	margin-top: 30px;
}

#d1{
	width: 760px;
	height: 100%;
	text-align: -webkit-center;
	border-style: outset;
}

#d2{
	width: 760px;
	height: 100%;
	text-align: -webkit-center;
	border-style: outset;
}

#mlikes{
	width: 100%;
    height: 400px;
    float: right;
    border-bottom-style: ridge;
    margin-bottom: 30px;
    padding-top: 20px;
	-webkit-text-stroke-width: medium;

}

#mrecently{
	width: 100%;
    height: 400px;
    float: right;
    border-bottom-style: ridge;
    margin-bottom: 30px;
    padding-top: 20px;
    -webkit-text-stroke-width: medium;

}


#mrecently_music{
	width: 100%;
    height: 400px;
    float: right;
    border-bottom-style: ridge;
    margin-bottom: 30px;
    padding-top: 20px;
    -webkit-text-stroke-width: medium;

}

#mRock{
	width: 100%;
    height: 400px;
    float: right;
    border-bottom-style: ridge;
    margin-bottom: 30px;
    padding-top: 20px;
    -webkit-text-stroke-width: medium;
 
}

#mFolk{
	width: 100%;
    height: 400px;
    float: right;
    border-bottom-style: ridge;
    margin-bottom: 30px;
    padding-top: 20px;
    -webkit-text-stroke-width: medium;
}

#mRB{
	width: 100%;
    height: 400px;
    float: right;
    border-bottom-style: ridge;
    margin-bottom: 30px;
    padding-top: 20px;
    -webkit-text-stroke-width: medium;
 
}

